<div class="row">
    <div class="col-12 col-md-6 offset-3 mx-auto">
        <img  class="rounded mx-auto d-block img-fluid" src="https://static.vecteezy.com/system/resources/previews/006/549/647/original/404-landing-page-free-vector.jpg"/>
        <h1 class="text-info mt-5 text-center">Lo sentimos, en el sistema no se encuentra lo que esta buscando :(</h1>
        <a class="btn text-white col-4 mx-auto mt-4" style="background-color: #FFA000; display: flex; justify-content: center; align-items: center" 
        asp-controller="Movies" asp-action="Index"> <i class="fa-solid fa-house mr-2"></i> Ir a Página Principal</a>
    </div>
</div>