@model EcommerceProject.Models.Actor

@{
    ViewData["Title"] = "Editar Actor";
}

<h1 class="col-12 text-center">Editar Actor @Model.Nombre</h1>

<div class="row mx-auto">
    <div class="col-md-6 offset-2 mx-auto">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ActorId" />

            <div class="form-group text-center">
                <img id="ImagenPreview" class="border-info rounded-circle" style="height: 350px; max-width: 350px"/>
            </div>

            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input asp-for="Imagen" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Biografia" class="control-label"></label>
                <input asp-for="Biografia" class="form-control" />
                <span asp-validation-for="Biografia" class="text-danger"></span>
            </div>

            <div class="form-group" style="display: flex; align-items: center; justify-content: space-between;">
                <a class="btn btn-secondary" title="Regresar" asp-action="Index"><i class="fa-solid fa-arrow-rotate-left"></i></a>
                <input type="submit" value="Editar Actor" class="btn text-white" style="background-color: #FFA000" />

            </div>

        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function(){
            const output = document.getElementById('ImagenPreview');
            output.src = $("#Imagen").val();
        })

        $("#Imagen").on("change", function(){
            const output = document.getElementById('ImagenPreview');
            output.src = $(this).val();
        })
    </script>
}